.navbaru {
  background: linear-gradient(90deg, rgb(57 93 21) 16%, rgb(15 1 1) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logou {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menuu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-itemu {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-linksu {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-linksu:hover {
  background-color: #696c6e;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-linksu-mobile {
  display: none;
}

.menu-iconu {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menuu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menuu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-linksu {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-linksu:hover {
    background-color: #727477;
    border-radius: 0;
    /* margin-left: -55px; */
    /* margin-right: 90px; */
  }

  .navbar-logou {
  
    position: static;
    margin-bottom: auto;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-iconu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #505255;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #4d4f52;
    transition: 250ms;
  }

  /* button {
    display: none;
  } */
}
@media screen and (max-width: 520px) {
  .navbar-logou {
  
    position: absolute;
    margin-bottom: auto;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  
}