.topbarview {
    width: 100%;
    height: 50px;
    background-color: rgb(7, 6, 6);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topbarWrapperview {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

.logoview {
    font-weight: bold;
    font-size: 30px;
    color: rgb(107, 238, 46);
    cursor: pointer;
  }


.topRightview{
    display: flex;
    align-items: center;
}

.topbarIconContainerview {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadgeview{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.topAvatarview{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}